@using DatabaseModels;
@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Football Stats DB";
    var players = LoadPlayers.GetPlayers();
    var dash = new Dashboard();
    var last = players.Count - 1;
    var count = 0;
    string addPlayer = null;

    if (IsPost)
    {
        switch (Request.Form["btn"])
        {
            case "Search":
                Session["PlayerSearch"] = Request.Form["search"];
                Response.Redirect("~/Players");
                break;

            case "Add":
                addPlayer = Request.Form["addField"];
                dash.addFavPlayer(addPlayer, Session["Username"].ToString());
                break;

            case "Projection":
                Session["PlayerProj"] = Request.Form["addField"];
                Response.Redirect("~/Projection");
                break;
        }
    }
    }

<head>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
</head>

<form method="post" style="float:right">
    <input type="text" placeholder="Search" name="search" />
    <input type="submit" name="btn" value="Search"/>
</form>

<h2>Players</h2>

<form method="post">
<table class="center" id="players">
    <tr>
        <th>Player Name</th>
        <th>Player Number</th>
        <th>Total Yards</th>
        <th>TDs</th>
        <th>Sacks</th>
        <th>Interceptions</th>
        @if (Session["Username"] != null)
        {
        <th>Favorites</th>
        }
        <th>Projection</th>
    </tr>
    @foreach (StatPlayer p in players)
    {
        var summedStats = new SummedPlayerStats(p.player_stats);
        if (Session["PlayerSearch"] != null)
        {
            var player = Session["PlayerSearch"].ToString();
            if (p.player.Name.IndexOf(@player, StringComparison.OrdinalIgnoreCase) >= 0)
            {
                <tr>
                    <td>@p.player.Name</td>
                    <td>@p.player.Number</td>
                    <td>@summedStats.total_yards</td>
                    <td>@summedStats.tds</td>
                    <td>@summedStats.sacks</td>
                    <td>@summedStats.interceptions</td>
                    @if (Session["Username"] != null)
                    {
                    <td align="center"><input type="submit" name="btn" value="Add" /></td>
                    }
                    <td align="center"><input type="submit" name="btn" value="Projection" /></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>@p.player.Name</td>
                <td>@p.player.Number</td>
                <td>@summedStats.total_yards</td>
                <td>@summedStats.tds</td>
                <td>@summedStats.sacks</td>
                <td>@summedStats.interceptions</td>
                @if (Session["Username"] != null)
                {
                <td align="center"><input type="submit" name="btn" value="Add" /></td>
                }
                <td align="center"><input type="submit" name="btn" value="Projection" /></td>
            </tr>
        }
        if(count == last)
        {
            Session["PlayerSearch"] = null;
        }
        count++;
    }
</table>
    <input type="hidden" id="addField" name="addField" />
</form>

<script>
    $(document).ready(function () {
        var $name = $("#players tr input[type='submit']").on("click", function () {
            var row = $(this).closest("tr");
            var name = row.find('td:eq(0)').text();
            document.getElementById("addField").value = name;
            alert(document.getElementById("addField").value);
        });
    });

</script>